.backdropBg {
    background: url('/assets/login_bg.svg') center 10px no-repeat;
    background-size: cover;
    height: calc(100% - 17vh);
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 17vh;
    width: 100%;
}

.backdropBg::before {
    content: "";
    display: block;
    position: absolute;
    background: url('/assets/login-bg-dots.svg') center 10px no-repeat;
    height: 300%;
    left: -50%;
    top: -100%;
    transform: rotate(-28deg);
    width: 200%;
}
.backdropBg::after {
    content: "";
    display: block;
    position: absolute;
    background: url('/assets/login-bg-top.svg') center top no-repeat;
    background-size: 100%;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
